.hero {
  text-align: center;

  width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding: 200px 0;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $fifth-text-color;

  &__container {
  }

  &__title {
    width: 696px;
    margin: 0 auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: $third-text-title-color;
    text-transform: uppercase;
  }
  &__button {
    margin-top: 30px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    font-family: inherit;
    background-color: $second-text-btn-color;
    color: $third-text-btn-color;

    transition: color 250ms $cubic,
      background-color 250ms $cubic;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $second-text-btn-color;
      background-color: $third-text-btn-color;
    }
  }
}
